# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
dist
lib
package.json
jsconfig.json
tsconfig.json
cypress/**/*

# Components
src/components/_Template/**.*